@model IEnumerable<BLL.Dto.Menu>

@{
    Layout = null;
}

<p>
    @Html.ActionLink("Создать новое меню", "CreateMenu", new { id = (int?)TempData["institutionId"] }, new { id = "CreateMenu" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.ActionLink("Подробности", "DetailsMenu", new { id = item.Id })
                @Html.ActionLink("Удалить", "DeleteMenu", new { id = item.Id })
            </td>
        </tr>
    }

</table>
