@model IEnumerable<BLL.Dto.Institution>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Создать новый", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedDeliveryTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedDeliveryTime)
            </td>
            <td>
                @Html.ActionLink("Подробности", "Details", new { id = item.Id }) 
                @if (Request.IsAuthenticated && System.Web.HttpContext.Current.User.IsInRole("admin"))
                {
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) 
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
